html,body{
  padding: 0;
  margin: 0;
}

body{
  background-image: url(img2.jpg);
  height: 100%;
  background-position: center;
  background-size:cover;
}
.container{
  max-width: 100%;
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows:100px 250px 150px;
  grid-auto-row:100px;
  grid-template-areas:
    "logo . acc"
    ". slogan ."
    ". button .";
  padding: 0px;
  margin: 0px;
  align-content: stretch;
  align-self: center;
}

.item{
  padding-right: 100px;
}

.box3{
  grid-column: 1/4;
  align-self: center;
}

.box3 > h1{
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.box4{
  display: flex;
  grid-column: 1/4;
  grid-row: 3/4;
  align-self: center;
  justify-content: center;
}

.box4 > button{
  color: #fff;
  border-color: #007bff;
  border-radius: .25rem;
  background-color: #007bff;
  padding: 5px 20px;
}

.box4 > button:hover{
  background-color: orange;
  border-color:orange;
}
